.bg-custom{
    /* position: absolute; */
    background: url(images/pagebg.png);
    /* background-position: center; */
    /* background-repeat: repeat-y; */
    min-width: 2000;
    height: 1000;
    top: 0;

    

    
    
}